<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNI-ACC Login Page</title>
    <link rel="stylesheet" href="../static/css/s.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <img src="../static/images/th.jpg" alt="Logo" width="300" height="100" />
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
          <div class="dropbtn" id="loginBtn">Login</div>
          <div class="dropdown-content" id="myDropdown">
            <a href="/login">Student</a>
            <a href="/login">Faculty</a>
            <a href="/login">Admin</a>
          </div>
        </li>
      </ul>
    </nav>

    <!-- Login Section -->
    <section class="login-section hero">
      <h2>Login</h2>
      <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" value="Login" class="dropbtn" />
        {{ login_message }}
      </form>
    </section>

    <script src="../static/js/script.js"></script>
  </body>
</html>
