<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="photo">
          <img
            src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
            alt="profile_picture"
            width="100"
            height="100"
          />
          <p>{{name}}</p>
        </div>
        <div class="nav_elements">
          <a href="/studentprofile" class="active">
            <span class="icon"><i class="fas fa-desktop"></i></span>
            <span class="item">Profile</span>
          </a>
          <a href="/studentsubmit">
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item">Assignment</span>
          </a>
          <a href="/contact">
            <span class="icon"><i class="fas fa-user-shield"></i></span>
            <span class="item">Admin</span>
          </a>
          <a href="/">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="item">Logout</span>
          </a>
        </div>
      </nav>
      <div class="main_section">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Doe</td>
              <td>john.doe@example.com</td>
            </tr>
            <tr>
              <td>Jane Smith</td>
              <td>jane.smith@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
